body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-header-cal{
  border: 1px solid lightgray;
  display: inline-block;
  color: black;
  width: 100px;
}

.grid-cell-cal{
  width: 100px;
  border: 1px solid lightgray;
  display: inline-block;
  height : 100px;
  color: black;
}

.grid-week-day-col{
  width: 120px;
  display: inline-block;
}

.grid-week-cell-cal{
  width: 120px;
  border: 1px solid lightgray;
  height : 25px;
  color: black;
}

.grid-week-header{
  width: 120px;
  border: 1px solid lightgray;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-week-header-today{
  border: 1px solid blue;
  color: blue;
}

.disable-grid-cell{
  color : gray;
}

.grid-container{
  position: relative;
  white-space: nowrap;
  overflow: visible;
}